---
import type { Skill } from "../types/skill.ts";
import { Icon } from "astro-icon/components";

interface Props {
  skill: Skill;
}

const skill = Astro.props.skill;
---

<div class="bg-gray-800 p-4 rounded-lg flex flex-col gap-4">
  <div class="flex flex-col items-center gap-2">
    <div class={`text-4xl ${skill.color}`}>
      <Icon name={`${skill.name}`} class={`hover:animate-${skill.animation}`} />
    </div>
    <span class="text-sm text-gray-400 capitalize">{skill.name}</span>
  </div>
</div>
